#modelos{
    border: none;
    color: white;  
}
#modelos li{
    background-color: blue;
    border:none;
}
#modelos li a{
    color: white;
}
#nav-mobile li a{
   color: black ;
}

#btnPersonalizar{
    height: 500px;
}

#btnPersonalizar a{
    top: 250px; 
    left: 400px;
    background-color: orange;
    color: black;
}

body{
    background-color: white ;
}

#contenedor{
    
    background-color: blue;
    size: auto;
}

#barra1 a{
    color: black;
}

#btnMalla,#btnMarco,#btnAgujas,#btnFondo,#btnNumeros{
    color: black;
}

