#modelos{
    border: none;
    color: white;  
}
#modelos li{
    background-color: #f57f17;
    border:none;
}
#modelos li a{
    color: white;
}


#btnPersonalizar{
    height: 500px;
}

#btnPersonalizar a{
    top: 250px; 
    left: 400px;
    background-color: orange;
    color: black;
}

body{
    background-color: #fff9c4;
}

#contenedor{
    background-color:white;
    size: auto;
}

#barra{
    background-color: #26a69a;
    color: white;
}


#btnMalla,#btnMarco,#btnAgujas,#btnFondo,#btnNumeros{
    color: black;
}

#btnFav{
    background-color: #ffea00;
}

#btnDesechar{
    background-color: #d50000;
}

#btnAplicar{
    background-color: #00c853;
}

#btnDescargar{
    background-color: #2196f3;
}

.collapsible-body{
    background-color: #a7ffeb;
    
}


#botonera-preestablecidos ul li a{
    background-color: #00695c;
    top: 160px;
    
}

#botonera button{
    top: 190px;
}

#barra1{
    background-color: #00bfa5;
}

#partes{
    top: 180px;
}

#btnEstilo{
    background-color: #004d40;
}

#btnCrear{
    background-color: #00695c;
}


